<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main style="opacity: 0.9;">
  <div class="jumbotron">
    <h3>Report</h3>
    <p>Welcome to Logs dashboard</p>

    <div class="container">
      <div class="row">
        <%for (const [key, value] of Object.entries(data)) {%>
          <div class="col-sm">
            <%if(!value['errormsg']) { %>
              <div class="card">
                <h6 class="card-header">Database @<%= key %></h6>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Status:: Healthy</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Role:: <%= value['role'].split(".")[1]%></h6>
                  <table style="table-layout:fixed;word-wrap:break-word;border:1px solid black;margin-left:auto;margin-right:auto;">
                    <tr>
                      <th style="width:10%;border:1px solid black;text-align: center;"> Cmd </th>
                      <th style="width:10%;border:1px solid black;text-align: center;"> key </th>
                      <th style="width:10%;border:1px solid black;text-align: center;"> value </th>
                      <th style="width:10%;border:1px solid black;text-align: center;"> term </th>
                    </tr>
                    <% for (var i = 0; i < value['entries'].length; i++) { %>
                        <tr>
                          <td style="width:10%;border:1px solid black;text-align: center;"><%= value['entries'][i].command %></td>
                          <td style="width:10%;border:1px solid black;text-align: center;"><%= value['entries'][i].key %></td>
                          <td style="width:10%;border:1px solid black;text-align: center;"><%= value['entries'][i].value  %></td>
                          <td style="width:10%;border:1px solid black;text-align: center;"><%= value['entries'][i].term  %></td>
                        </tr>    
                  <% } %>
                  </table>
                </div>
              </div>
            <%}else{%>
              <div class="card">
                <h6 class="card-header">Database @<%= key %></h6>
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Status:: Un-healthy</h6>
                  <% key %> Server looks to be down at the moment.
                </div>
              </div>
            <%}%>
          </div>
        <% } %>
      </div>
    </div>


  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>